:host {
    height: 100%;
    display: flex;
    align-items: center;

    a {
        cursor: pointer;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
        
        &:visited {
            color: inherit
        }
    }
}